<div class="col-sm-3 col-md-2 sidebar">
  <h5>Accounting API</h5>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="/organisations">List Organisations</a></li>
    <li><a href="/accounts">List Accounts</a></li>
    <li><a href="/banktransactions">List Bank Transactions</a></li>
    <li><a href="/banktransfers">List Bank Transfers</a></li>
    <li><a href="/contacts">List Contacts</a></li>
    <li><a href="/invoices">List Invoices</a></li>
    <li><a href="/items">List Items</a></li>
    <li><a href="/journals">List Journals</a></li>
    <li><a href="/payments">List Payments</a></li>
    <li><a href="/trackingcategories">List Tracking Categories</a></li>
  </ul>
  <h5>Payroll API - AU</h5>
  <ul class="nav nav-sidebar">
    <li><a href="/employees">List employees</a></li>
    <li><a href="/timesheets">List timesheets</a></li>
  </ul>
</div>