<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="/accounts">List Accounts</a></li>
    <li><a href="/banktransactions">List Bank Transactions</a></li>
    <li><a href="/banktransfers">List Bank Transfers</a></li>
    <li><a href="/contacts">List Contacts</a></li>
    <li><a href="/invoices">List Invoices</a></li>
    <li><a href="/items">List Items</a></li>
    <li><a href="/employees">List employees</a></li>
    <li><a href="/timesheets">List timesheets</a></li>
    <li><a href="/createtimesheet">Create Timesheet</a></li>
    <li><a href="/createinvoice">Create Invoice</a></li>
    <li><a href="/sendinvoice">Send Invoice</a></li>
  </ul>
</div>