node_modules
*.tgz
lib/**/*
docs/**/*
npm-debug.log
*.pdf
*config.json
*config?.json
privatekey.pem
*.scratch.ts
scratch.ts
scratch*
xero-login.json
oAuthState.json
*.orig
*junit.xml
.DS_Store
