node_modules
*.tgz
lib/**/*
npm-debug.log
*.pdf
*config.json
*config?.json
privatekey.pem
*.scratch.ts
scratch.ts
scratch*
xero-login.json
oAuthState.json
*.orig
*junit.xml
.DS_Store
.idea
.vscode
dist/
build_notes.md
commit_message.md

