{% extends 'layout.html' %}

{% block title %}Create Timesheet{% endblock %}
{{ err }}
{% if timesheets %}
{% endif %}

{% block content %}
<h3>Invoice</h3>
<form method="post" action="">
<input type="submit" value="Submit">
</form>

{% endblock %}