{{#if error}}
<div class="alert alert-danger">
  <strong>Error:</strong> {{error.message}}
</div>
{{/if}}

<h2>Xero Node.js - Sample App</h2>
<p>An API wrapper for the Xero API (<a href="http://developer.xero.com">http://developer.xero.com</a>).</p>
<p>Supports all three applications types:</p>
<ul>
  <li>Private</li>
  <li>Public</li>
  <li>Partner</li>
</ul>
<p>Use the navigation on the left to get started.</p>
<p>Email <a href="mailto:api@xero.com">api@xero.com</a> for support.</p>