body {
    background: #efefef;
}
.tsd-page-toolbar {
    background-color: #2980B9;
    border: 0;
}
.tsd-page-toolbar .field, .tsd-page-toolbar a.title {
    color: #fcfcfc;
}
.tsd-page-title {
    background: #343131;
    color: #e3e3e3;
}
.tsd-breadcrumb li::after {
    content: none;
}
.tsd-breadcrumb a {
    color: #e3e3e3;
}
.tsd-navigation.primary {
    padding-bottom: 0px;
}
.tsd-signature, .tsd-signature-symbol, .tsd-signature-type {
    font-weight: bold;
}
.home-link {
    margin-left: 30px;
    font-style: italic;
    position: relative;
    z-index: 2;
}
a.home-link:hover {
    text-decoration: underline;
}
.tsd-is-private {
    display: none;
}
