{% extends 'layout.html' %}

{% block title %}Invoices{% endblock %}

{% block content %}
<h3>Invoices</h3>
<table class="table table-bordered table-striped table-collapsed">
    <thead>
    <tr>
        <td>ID</td>
        <td>Invoice Number</td>
        <td>Date</td>
        <td>Due Date</td>
        <td>Status</td>
        <td>Total</td>
        <td></td>
    </tr>
    </thead>
    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.InvoiceID }}</td>
        <td>{{ invoice.InvoiceNumber}}</td>
        <td>{{ invoice.Date.toString() }}</td>
        <td>{{ invoice.DueDate && invoice.DueDate.toString() }}</td>
        <td>{{ invoice.Status}}</td>
        <td>{{ invoice.Total }}</td>
        <td><a href="/emailinvoice?id={{ invoice.InvoiceID }}" class="btn btn-primary btn-xs">Email</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}