{% extends 'layout.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<h3>Items</h3>
<table class="table table-bordered table-striped table-collapsed">
    <thead>
    <tr>
        <td>ID</td>
        <td>Code</td>
        <td>Description</td>
        <td>Cost Price</td>
        <td>Sale Price</td>
    </tr>
    </thead>
    {% for item in items %}
    <tr>
        <td>{{ item.ItemID }}</td>
        <td>{{ item.Code }}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.PurchaseDetails.UnitPrice }}</td>
        <td>{{ item.SalesDetails.UnitPrice }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}