<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Untitled{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <select name="jump">
        <option value="">(Jump to Test)</option>
        <option value="/contacts">List Contacts</option>
        <option value="/employees">List Employees</option>
        <option value="/timesheets">List Timesheets</option>
        <option value="/invoices">List Invoices</option>
        <option value="/items">List Items</option>
        <option value="/createtimesheet">Create Timesheet</option>
        <option value="/createinvoice">Create Invoice</option>
        <option value="/emailinvoice">Send Invoice</option>
    </select>
</div>
{% block content %}{% endblock %}
<script>
    $('[name=jump]').on('change', function()
    {
        window.location.href = $('[name=jump]').val();
    })
</script>
</body>
</html>