{% extends 'layout.html' %}

{% block title %}Timesheets{% endblock %}

{% block content %}
<h3>Timesheets</h3>
<table class="table table-bordered table-striped table-collapsed">
    <thead>
    <tr>
        <td>ID</td>
        <td>Employee ID</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Status</td>
        <td>Hours</td>
    </tr>
    </thead>
    {% for timesheet in timesheets %}
    <tr>
        <td>{{ timesheet.TimesheetID }}</td>
        <td>{{ timesheet.EmployeeID}}</td>
        <td>{{ timesheet.StartDate.toString() }}</td>
        <td>{{ timesheet.EndDate.toString() }}</td>
        <td>{{ timesheet.Status}}</td>
        <td>{{ timesheet.Hours }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}